* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

body {
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(to top right,rgb(246, 8, 87),rgba(232, 186, 240, 0.651));
    flex-direction: column;
    
  }

  .card{
    height: 85vh;
    width: 85vw;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 70px;
  }
  
  #birthday-cake {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 23%;
    top: 70%;
  }
  
  #birthday-cake:before {
    content:"";
    position: absolute;
    background-color: #ede0d4;
    width: 350px;
    height:140px;
    border-radius:50%;
    left:50%;
    top:50%;
    transform: translate(-50%,-18%);
    box-shadow: inset -2px -5px #e6ccb2;
  }
  
  .cake {
    position: absolute;
    background-color: #ddb892;
    width: 300px;
    height:100px;
    transform: translate(-0%,-20%);
  }
  
  .cake:before, .cake:after {
    content:"";
    position: absolute;
  }
  
  .cake:before, .middle, .middle:before {
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    width:300px;
    height:50px;
  }
  
  .cake:before {
    background-color: #ddb892;
    top:100px;
  }
  
  .cake:after {
    background-color: #b08968;
    width:300px;
    height:30px;
    top:50px;
  }
  
  .middle {
    position: absolute;
    background-color: #b08968;
    top:80px;
    z-index:1;
  }
  
  .middle:before {
    content:"";
    position: absolute;
    background-color: #ddb892;
    top:-35px;
  }
  
  .top {
    position: absolute;
    background-color: #7f5539;
    width:300px;
    height: 90px;
    border-radius:50%;
    z-index:2;
    top:-45px;
    box-shadow: inset -5px -1px #fff, inset -70px 2px rgba(255,255,255,.1);
  }
  
  .chocs {
    position: absolute;
    width: 53px;
    height:50px;
    background-color: #7f5539;
    top:0;
    z-index:1;
    border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
    box-shadow: 49px 20px #7f5539, 98px 25px #7f5539, 147px 30px #7f5539, 196px 25px #7f5539, 245px 20px #7f5539, 0px 4px #fff, 49px 24px #fff, 98px 29px #fff, 147px 34px #fff, 196px 29px #fff, 245px 24px #fff, 295px 4px #fff;
  }
  
  .chocs:before {
    content:"";
    position: absolute;
    width:170px;
    height:180px;
    background-color: rgba(255,255,255,.1);
    border-radius: 100% 0% 100% 0% / 0% 72% 28% 100%;
    left:175px;
    top:0;
  }
  
  .candles {
    position: absolute;
    width:30px;
    height: 80px;
    background-color: #0081a7;
    top:-175px;
    left: -7px;
    box-shadow: 50px 20px #0081a7, -50px 20px #0081a7;
  }
  
  .candles:before {
    content:"";
    position: absolute;
    width:30px;
    height: 10px;
    background-color: #0081a7;
    border-radius:50%;
    top:-5px;
    box-shadow: 0 80px #0081a7, -50px 20px #0081a7, -50px 100px #0081a7, 50px 20px #0081a7, 50px 100px #0081a7, inset 2px -1px #fff;
  }
  
  .candles:after {
    content:"";
    position: absolute;
    width:30px;
    height: 10px;
    border-radius:50%;
    top:15px;
    left:50px;
    box-shadow: inset 2px -1px #fff;
  }
  
  .shadows {
    position: absolute;
    width:30px;
    height: 10px;
    border-radius:50%;
    box-shadow: inset 2px -1px #fff;
    left:-50px;
    top:15px;
  }
  
  .shadows:before {
    content:"";
    position: absolute;
    background-color: #333;
    width:1.5px;
    height:15px;
    left:14.5px;
    top:-10px;
    box-shadow:50px -20px #333, 100px 0 #333;
  }
  
  .shadows:after {
    content:"";
    position: absolute;
    width:15px;
    height:90px;
    left:15px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 50px -20px rgba(255,255,255,.1), 100px 0 rgba(255,255,255,.1);
    border-radius: 0% 100% 50% 50% / 100% 6% 10% 0%;
  }
  
  
  .flame, .flame:before, .flame2, .flame2:before, .flame3, .flame3:before {
    position: absolute;
    border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  }
  
  .flame,.flame3, .flame2 {
    cursor: pointer;
    width:30px;
    height: 30px;
    transform: rotate(-45deg);
    z-index:4;
    background-color: rgba(252,191,73,.8);
    transition: .5s;
    animation: flame .5s infinite;
  }
  
  .flame {
    top:-40px;
  }
  
  .flame2, .flame3 {
    top: -20px;
  }
  
  .flame2 {
    left:-50px;
  }
  
  .flame3 {
    left: 50px;
  }
  
  .flame:before, .flame2:before, .flame3:before {
    content:"";
    background-color: rgba(247,127,0,.4);
    width:20px;
    height:20px;
    top:5px;
    left:5px;
  }
  
  @keyframes flame {
    0%, 25%, 100% {transform: scaleY(1) rotate(-45deg);}
    50%, 75% {transform: scaleY(1.1) rotate(-45deg);}
  }

  .text, .text2 {
    position: absolute;
    color: rgb(246, 75, 143);
    font-family: 'Brush Script MT', cursive;
    text-align: center;
  }
  .text {
    position: absolute;
    width:350px;
    font-size: 40px;
    left:-160px;
    color: #f2578a;
    transition: .3s;
    opacity:0;
  
  }
  
  .text2 {
    font-size: 25px;
    width: 300px;
    top:105px;
    left:-140px;
  }

  #loader{
    height: 100%;
    width: 100%;
    z-index: 999;
    top: 0;
    position: fixed;
    background-color: #000;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to top right,rgb(238, 27, 238),rgb(233, 34, 12));
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation: load 1s linear 1s;
}

#loader h1:nth-child(2){
    animation-delay: 2s;
}

#loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width:600px){
    #loader h1{
        font-size: 10vw;
    }
}

.lyrics {
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 18px;
    border-right: 0px solid;
    animation: typing 3s steps(45) infinite; /* Adjust the total animation time */
} 

 @keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}



.audio{
    position: absolute;
    right: 12%;
    top: 25%;
}

.lyrics{
    color: transparent;
    background: linear-gradient(to right top,#454343,#f704ff);
    -webkit-background-clip: text;
    font-size: ;
} 
.wish{
  position: absolute;
  top: 0;
  left: 37%;
}

.page2 h1{
  display: flex;
  justify-content: center;
  /* margin-top: 10vw; */
  padding-top: 2vw;
  font-size: 5vw;
  background: linear-gradient(to right top,rgba(191, 21, 213, 0.886),rgba(240, 80, 27, 0.567));
  -webkit-background-clip: text;
  color: transparent;
}

.left{
  /* border: 1px solid black; */
  /* text-wrap: nowrap; */
  height: 30vw;
  width: 50vw;
  position: absolute;
  left: 8vw;
  top: 25%;
}

.left h2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #000;
  top: 0%;
  font-size: 25px;
  background: linear-gradient(to right top, rgba(237, 35, 217, 0.807),rgb(250, 224, 59));
  -webkit-background-clip: text;
  color: transparent;

}

.balloon-container{
  position: relative;
  bottom: -770px; 
  display: inline-block;
}

.balloon::before{
  content: "▲";
  font-size: 20px;
  color: hsl(215,30%,50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}
.balloon{
  display: inline-block;
  width: 78px;
  height: 88px;
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0,0,0,0.07);
  transition: transform 0.5s ease;
  z-index: 10;
  transform-origin: bottom center ;
  color: white;
  font-weight: bold;
  font-family: cursive;
}
.balloon1 {
  animation: balloons1 forwards;
  font-size: 58px;
}
.balloon2 {
  animation: balloons2 forwards;
  font-size: 48px;
  top: -100px;
}
.balloon3 {
  animation: balloons3 forwards;
  font-size: 38px;
  bottom: 195px;
}
@keyframes balloons1 {
  0%{transform: translateY(10vh) rotate3d(1,1,1,90deg);opacity: 1;}
  10%{transform: translateY(-600vh) rotate3d(1,1,1,180deg);opacity: 1;}
  100%{transform: translateY(-800px) rotate3d(1,1,1,360deg);opacity: 1;}
}
@keyframes balloons2 {
  0%{transform: translateY(10vh) rotate3d(1,1,1,90deg);opacity: 1;}
  10%{transform: translateY(-500vh) rotate3d(1,1,1,180deg);opacity: 1;}
  100%{transform: translateY(-700px) rotate3d(1,1,1,360deg);opacity: 1;}
}
@keyframes balloons3 {
  0%{transform: translateY(10vh) rotate(360deg);opacity: 1;}
  10%{transform: translateY(-400vh) rotate(180deg);opacity: 1;}
  100%{transform: translateY(-600px) rotate(0deg);opacity: 1;}
}
.balloon1:nth-child(1){background: rgb(255, 100, 100);animation-duration: 3s;left: 10px;}
.balloon1:nth-child(1)::before{color: rgba(255, 100, 100);}

.balloon1:nth-child(2){background: rgba(255, 255, 100);animation-duration: 4.1s;left: 23px;}
.balloon1:nth-child(2)::before{color: rgba(255, 255, 100);}

.balloon1:nth-child(3){background: rgba(255, 255, 255);animation-duration: 5.2s;left: 27px;color: black;}
.balloon1:nth-child(3)::before{color: rgba(255, 255, 255);}

.balloon1:nth-child(4){background: rgba(0,255 ,255 );animation-duration: 6.3s;left: 34px;}
.balloon1:nth-child(4)::before{color: rgba(0,255 ,255 );}

.balloon1:nth-child(5){background: rgba(0,0 ,255 );animation-duration: 4.4s;left: 49px;}
.balloon1:nth-child(5)::before{color: rgba(0,0 ,255 );}

.balloon2:nth-child(1){background: rgba(255, 100, 100);animation-duration: 3s;left: 55px;}
.balloon2:nth-child(1)::before{color: rgba(255, 100, 100);}

.balloon2:nth-child(2){background: rgba(255, 255, 100);animation-duration: 3.1s;left: 60px;}
.balloon2:nth-child(2)::before{color: rgba(255, 255, 100);}

.balloon2:nth-child(3){background: rgba(255, 255, 255);animation-duration: 5.2s;left: 67px;color: black;}
.balloon2:nth-child(3)::before{color: rgba(255, 255, 255);}

.balloon2:nth-child(4){background: rgba(0,255 ,255 );animation-duration: 6.3s;left: 75px ;}
.balloon2:nth-child(4)::before{color: rgba(0,255 ,255 );}

.balloon2:nth-child(5){background: rgba(0,0 ,255 );animation-duration: 4.4s;left: 80px;}
.balloon2:nth-child(5)::before{color: rgba(0,0 ,255 );}

.balloon3:nth-child(1){background: rgba(255, 100, 100);animation-duration: 6s;left: 87px;}
.balloon3:nth-child(1)::before{color: rgba(255, 100, 100);}

.balloon3:nth-child(2){background: rgba(255, 255, 100);animation-duration: 3.1s;left: 92px;}
.balloon3:nth-child(2)::before{color: rgba(255, 255, 100);}

.balloon3:nth-child(3){background: rgba(255, 255, 255);animation-duration: 5.2s;left: 103px;color: black;}
.balloon3:nth-child(3)::before{color: rgba(255, 255, 255);}

.balloon3:nth-child(4){background: rgba(255, 100, 100);animation-duration: 5.2s;left: 103px;color: black;}
.balloon3:nth-child(4)::before{color: rgba(255, 100, 100);}

.balloon3:nth-child(5){background: rgba(0, 255, 255);animation-duration: 5.2s;left: 103px;color: black;}
.balloon3:nth-child(5)::before{color: rgba(0, 255, 255);}

.balloon:hover{
  display: none;
}
@media (max-width: 600px) {
.card {
  height: 90vh;
    width: 80vw;
    margin-top: 20vw;
    margin-left: 7vw;
}

#birthday-cake {
  display: none;
}

.left{
  height: 30vw;
  width: 50vw;
  position: absolute;
  left: 15vw;
  top: 27%;
}

.left h2{
  position: absolute;
  font-size: 2.7vw;
  background: linear-gradient(to right top, rgba(237, 35, 217, 0.807),rgb(250, 224, 59));
  -webkit-background-clip: text;
  color: transparent;
}


.audio{
  position: absolute;
  right: 20%;
  top: 15%;
}

.lyrics{
  color: transparent;
  background: linear-gradient(to right top,#454343,#f704ff);
  -webkit-background-clip: text;
  font-size: 2.5vw;
}
.balloon-container{
  position: relative;
  bottom: -127vw; 
  display: inline-block;
  }
.balloon1 {
animation: balloons1 forwards;
margin-left: 2vw;
}
.balloon2 {
  display: none;
  }
  .balloon3 {
  display: none;
  }
} 
@media (max-width: 420px) {
  .card {
    height: 82vh;
      width: 80vw;
      margin-top: 20vw;
      margin-left: 2vw;
  }
  
  #birthday-cake {
    display: none;
  }


  
  .left{
    height: 30vw;
    width: 50vw;
    position: absolute;
    left: 15vw;
    top: 27%;
  }
  
  .left h2{
    position: absolute;
    font-size: 3vw;
    background: linear-gradient(to right top, rgba(237, 35, 217, 0.807),rgb(250, 224, 59));
    -webkit-background-clip: text;
    color: transparent;
  }
  
  
  .audio{
    position: absolute;
    right: 20%;
    top: 16%;
  }
  
  .lyrics{
    color: transparent;
    background: linear-gradient(to right top,#454343,#f704ff);
    -webkit-background-clip: text;
    font-size: 2.5vw;
  }
  .balloon-container{
    position: relative;
    bottom: -175vw; 
    display: inline-block;
    }
  .balloon1 {
  animation: balloons1 forwards;
  margin-left: 0vw;
  }
  .balloon1:nth-child(5){
    display: none;
  }
  .balloon2 {
    display: none;
    }
    .balloon3 {
    display: none;
    }
  } 
